// SPDX-License-Identifier: (GPL-2.0+)
/*
 * Copyright (C) 2020 Pierre Bourdon <delroth@gmail.com>
 */

#include "alpine-v2.dtsi"

/ {
	model = "QNAP TS-832X";
	compatible = "qnap,ts-832x", "al,alpine-v2";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* Secure Monitor firmware lives in the lower 0x100000 bytes. */
		firmware: firmware@0 {
			reg = <0x00000000 0x00000000 0x00000000 0x00100000>;
			no-map;
		};
	};

	thermal-zones {
		cpu-thermal {
			thermal-sensors = <&thermal0>;
			polling-delay = <1000>;
			polling-delay-passive = <250>;
			trips {
				cpu-crit {
					type = "critical";
					temperature = <105000>;
					hysteresis = <2000>;
				};
			};
		};
	};
};

&i2c {
	rtc: rtc@32 {
		compatible = "epson,rx8010";
		reg = <0x32>;
	};
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};
